:root {
    --background_grey: #FCFCFC;
    --card_grey: #F0F0F0;
}

body {
    background-color:var(--background_grey);
}

.jumbotron {
    background-color:var(--background_grey);
    margin-bottom: -50px;
}

.card {
    padding: 25px;
    margin-bottom: 20px;
    background-color : var(--card_grey);
    border-radius: 5px;
}

#controlPanel {
    margin-left: -3.3%;
}

#progress {
    margin-left: 1.2%;
}

h2 {
    text-align: center;
}

hr {
    color: grey;
    margin-bottom: 5px;
}

#map {
    margin-left: 1.5%;
}

#navbar {
    float: right;
    padding: 10px;
    display: inline-flex;
}

.nav-modal {
    margin: 5px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
    text-align: center;
}

.center {
    margin-left:auto; 
    margin-right:auto;
}

.site-footer {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#button-global-leaderboard, #button-best-scores{
    background-color: var(--card_grey);
}
